[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multiscape"]
	path = multiscape
	url = https://github.com/josesalgr/multiscape
